<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BoozBudget</title>

  

    <!-- Bootstrap core CSS -->
    <link href="application.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="application.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
  </head>

	<!--<img src="http://albanypoets.com/wp-content/uploads/2012/09/booze.gif" class="image-responsive" alt="responsive image" >-->
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
<!--begin Masthead/navbar-->

<nav id="navbars" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="wrapper">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:white">
                <img style="max-width:42px; margin-top: -7px;"
             src="https://www.dropbox.com/s/391hirrstfyr512/Screen%20Shot%202014-03-27%20at%209.12.27%20PM.jpeg?dl=1">BoozBudget</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right" style="color:white">
                <li><a href="/#home-slide" style="color:white">HOME</a>
                </li>
                <li><a href="/#howto" style="color:white">BARGAINS</a>
                </li>
                <li><a href="/#portfolio" style="color:white">BLOG</a>
                </li>
                <li><a href="/#about" style="color:white">ABOUT</a>
                </li>
                <li><a href="/#contact" style="color:white">CONTACT</a>
                </li>

                <li><a href="/projects" style="color:white">SHOP</a></li>
                <!-- <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">STUFF <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/pictures">Pictures</a></li>
                    </ul>
                </li> -->
                <!-- <li> -->
                <!-- <a class="nav-spacer"></a> -->
                <!-- </li> -->
                <li>
                  <div class='row' style='margin:14px;color:black;text-align:center;'>
                    <div class='col-xs-4' style='padding-left:10px;'>
                        <a href="" target="_blank"><i class="icon-facebook"></i></a>
                    </div>
                    <div class='col-xs-4'>
                        <a href="" target="_blank"><i class="icon-twitter"></i></a>
                    </div>
                    <div class='col-xs-4'>
                        <a href=""><i class="icon-envelope"></i></a>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /wrapper -->
</nav>
<!--end Masthed/navbar-->
<!--begin central theme-->
<section>
          <div class="inner cover">
          	<br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <h1 class="cover-heading">Affordable Debauchery.</h1>


            <p class="lead">BoozBuget is a solution for the frugal socialite. Designed by students, for students. We help you keep the good times going without compromising cost.</p>
            <p class="lead">
              <a href="/pages/inventory" class="btn btn-lg btn-default">Get Started</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
          
            </div>
          </div>
      </section>
<!--end central theme-->
        </div>

      </div>
</section>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>

