<h1>What we do</h1>

<%= require 'lcbo'
LCBO.store(511)
  # => { :id => 511, :name => "King & Spadina", ... }

  LCBO.product(18)
  # => { :id => 18, :name => "Heineken Lager", ... }

  LCBO.inventory(18)
  # => { :id => 18, :inventory_count => 40398, :inventories => [ ... ] }

  LCBO.products_list(1)
  # => { :page => 1, :final_page => 108, ..., :product_ids => [ ... ] }

  LCBO.store_list
  # => { :store_ids => [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, ...] } 
  %>



<p>Find me in app/views/pages/What_we_do.html.erb</p>
