/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 * Globals
 */

/* Links */
.site-wrapper-inner { 
  background: url(http://cdn.partyearth.com/photos/457e277d36d2a844cbb964570dcfe14a/shots_s660.jpg?1375166528) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a,
a:focus,
a:hover {
  color: #fff;
}

/*
.image-responsive {
  position: fixed; 
  top: 0; 
  left: 0; 
  

  min-width: 100%;
  min-height: 100%;
  opacity: 7;
} */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.navbar{
  background-color: black;

}


.footer-info{
  display:"inline-block";

}
#column-one{
    width: 250px;
    height: 100px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    float:left;
    clear: left;
}

#column-two{
    width: 250px;
    height: 100px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    float:center;    // <---- HERE
}

#column-three{
width: 250px;
    height: 100px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    float:right;
}